<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ENV" value="TEST"/>
		<add key="ConnStrTest" value="Server=localhost;Database=estatistica;Uid=root;Pwd=karam1313;"/>
		<add key="ConnStrProd" value="Server=localhost;Database=estatistica;Uid=root;Pwd=retl2515@A;"/>
		<add key="ConnStrItatiaia" value="Host=85.113.92.74;Port=5432;Database=GIX;Username=itatiaiabi;Password=ITAO06gwFEuH"/>		
		<add key="PlanilhaExcelDirectory" value="Planilhas"/>
		<add key="ConsultaProdutosSenha" value="shxshx01"/>
		<add key="ConsultaProdutosUsuario" value="Ecommerce"/>
		<add key="ConsultaProdutosUrl" value="http://85.113.92.74:30503/shx-integracao-servicos/ecommerce/produtos"/>
		<add key="CaminhoPlanilha" value="../../estatistica_webapi"/>
	</appSettings>
</configuration>